<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SGCC___PERFIL.Properties.Config" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="SGCC___PERFIL.Properties.Precario" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <SGCC___PERFIL.Properties.Config>
            <setting name="DadosGraficoEntrada" serializeAs="String">
                <value>Inscrições</value>
            </setting>
            <setting name="DadosGraficoSaida" serializeAs="String">
                <value>Energia</value>
            </setting>
        </SGCC___PERFIL.Properties.Config>
        <SGCC___PERFIL.Properties.Precario>
            <setting name="inscricao" serializeAs="String">
                <value>1500</value>
            </setting>
            <setting name="mensalidade" serializeAs="String">
                <value>2500</value>
            </setting>
            <setting name="cartao_formando" serializeAs="String">
                <value>500</value>
            </setting>
            <setting name="certificado" serializeAs="String">
                <value>3000</value>
            </setting>
        </SGCC___PERFIL.Properties.Precario>
    </userSettings>
</configuration>